@charset "utf-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #333;
    line-height: 1;
    font-family: 'Noto Sans KR';
    margin-bottom: 60px;
}

.inner {
    /* width: calc(100% - 40px); */
    width: 1280px;
    margin: 0 auto;
}

.title {
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h3 {
    font-size: 20px;
}


/* 🐶 .header */

header {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 2;
}

header h1 {
    font-size: 30px;
}

header nav ul {
    display: flex;
    margin-top: 15px;
}

header nav ul li {
    margin-right: 15px;
    font-weight: 450;
}


/* 🐯 .bottom_menu */

.bottom_menu {
    width: 100%;
    height: 55px;
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 -4px 25px rgba(0, 0, 0, 0.25);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.bottom_menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; /* li가 가진 고유 높이값 때문에 align-items가 안 먹힘. ul 높이값을 ..bottom_menu와 같게 해주면 적용됨 */
    padding: 0 40px;
}

.bottom_menu ul li a {
    display: flex;
}


/* 뷰포트 1280px 이하일 때 스타일 적용 */

@media screen and (max-width: 1280px) {
    .inner {
        width: calc(100% - 40px);
    }
}