@charset "utf-8";


/* 🐺 .main_visual */

.main_visual {
    width: 100%;
    height: 295px;
    border-radius: 0 0 70px 70px;
    box-shadow: 0 4px 45px #ccc;
    position: relative;
}

.main_visual figure {
    width: calc(100% - 40px);
    height: 110px;
    border-radius: 70px;
    overflow: hidden;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.main_visual figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 🐱 .cont01 */

.cont01 {
    padding-top: 60px;
}

.cont01 .list {
    display: flex;
    justify-content: space-between;
}

.cont01 .list .item {
    width: calc(100% / 4 - 10px);
}

/* 이미지에 height 값 주면 화면 크기에 따라서 이미지 비율이 변하고(높이 고정), 주지 않으면 일정하게 비율이 고정됨. 이 부분은 디자이너 및 클라이언트와 상의해서 정할 수 있음*/

.cont01 .list .item figure {
    width: 100%;
    height: 160px;
    border-radius: 10px;
    overflow: hidden;
}

.cont01 .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont01 .list .item p {
    font-size: 14px;
    margin-top: 10px;
}

/* 🦁 .cont02 */

.cont02 {
    padding-top: 50px;
}

.cont02 .list {
    width: 100%;
    height: 160px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.cont02 .list figure {
    border-radius: 10px;
    width: 102px;
    height: 124px;
    overflow: hidden;
    margin-right: 11px;
}

.cont02 .list figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont02 .list .info p {
    font-size: 14px;
    margin: 3px 0 5px;
}

.cont02 .list .info div span {
    font-size: 14px;
}


@media screen and (max-width: 430px) {
    .cont01 .list .item {
        width: calc(100% / 3 - 10px);
    }
    .cont01 .list .item:nth-child(4) {
        display: none;
    }
}